<div>
    <div v-if="state.collectionId || context.collectionId">
        <sly-field title="Dataset structure"
                   description="Keep the original dataset structure or place all collection images into a single folder">
            <el-checkbox v-model="state.preserveStructure">preserve dataset structure</el-checkbox>
        </sly-field>
        <sly-field v-if="!state.preserveStructure"
                   title="Folder name"
                   description="Name of the folder all collection images will be placed into">
            <el-input v-model="state.datasetName"
                      :placeholder="'Collection ' + (state.collectionId || context.collectionId)"></el-input>
        </sly-field>
    </div>
</div>
